{% extends 'layout/base.html' %}
{% from 'components/hero-modal.html' import render_modal %}
{% block content %}
<div class="row d-flex justify-content-center py-4 px-1 mx-auto">
	{% for hero in heroes %}
	<div class="col-3 col-md-1 p-1">
		{{ render_modal(hero._id, hero.name, hero.image_full, hero.roles, hero.primary_attr)}}
		<a href="#heroModal{{hero._id}}" role="button" data-toggle="modal" id="{{ hero._id }}">
			<img src="{{ hero.image_thumb }}" alt="{{ hero.name }}" class="hero_thumbnail" id="{{ hero.id }}">
		</a>
	</div>
	{% endfor %}
</div>
{% endblock %}



