{% extends 'layout/base.html' %}
{% macro render_modal(id, name, portrait, roles, attribute) %}
<div class="modal fade" id="heroModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="heroModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body modal-hero">
				<div class="card">
					<img class="card-img-top" src="{{portrait}}" alt="">
					<div class="card-body card-hero-body">
						<div class="container-fluid px-0">
							<div class="row">
								<div class="col-12">
									<h5 class="card-title text-center">{{name}}</h5>
								</div>
							</div>
							<div class="row">
								<div class="col-6">
									<p class="card-text text-capitalize text-right">
										{% if attribute == 'agility' %}
										<img src="{{url_for('static', filename='images/icons/agility.png')}}" alt="agility">{{attribute}}
										{% elif attribute == 'strength' %}
										<img src="{{url_for('static', filename='images/icons/strength.png')}}" alt="strength">{{attribute}}
										{% else %}
										<img src="{{url_for('static', filename='images/icons/intelligence.png')}}" alt="intelligence">{{attribute}}
										{% endif %}
									</p>
									<p class="card-text text-capitalize text-right">{{attack}}</p>
								</div>
								<div class="col-6">
									{% for role in roles %}
									<p class="card-text">
										{% if role == 'Carry' %}
										{{role}}
										<img src="{{url_for('static', filename='images/icons/carry.png')}}" alt="carry">
										{% elif role == 'Disabler' %}
										{{role}}
										<img src="{{url_for('static', filename='images/icons/disabler.png')}}" alt="disabler">
										{% elif role == 'Durable' %}
										{{role}}
										<img src="{{url_for('static', filename='images/icons/durable.png')}}" alt="durable">
										{% elif role == 'Escape' %}
										{{role}}
										<img src="{{url_for('static', filename='images/icons/escape.png')}}" alt="escape">
										{% elif role == 'Initiator' %}
										{{role}}
										<img src="{{url_for('static', filename='images/icons/initiator.png')}}" alt="initiator">
										{% elif role == 'Jungler' %}
										{{role}}
										<img src="{{url_for('static', filename='images/icons/jungler.png')}}" alt="jungler">
										{% elif role == 'Nuker' %}
										{{role}}
										<img src="{{url_for('static', filename='images/icons/nuker.png')}}" alt="nuker">
										{% elif role == 'Pusher' %}
										{{role}}
										<img src="{{url_for('static', filename='images/icons/pusher.png')}}" alt="pusher">
										{% else %}
										{{role}}
										<img src="{{url_for('static', filename='images/icons/support.png')}}" alt="support">
										{% endif %}
									</p>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				{% if id in user_favourites %}
				<form action="{{url_for('remove_from_favourites', hero_id=id)}}" method="POST">
					<input type="submit" class="modal-submit modal-remove_favourite" value="&#xf005">
				</form>
				{% else %}
				<form action="{{url_for('add_to_favourites', hero_id=id)}}" method="POST">
					<input type="submit" class="modal-submit modal-add_favourite" value="&#xf005">
				</form>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endmacro %}


{% block content %}
<div class="row d-flex justify-content-center py-4 px-1 mx-auto">
	{% for hero in heroes %}
	<div class="col-3 col-md-1 p-1">
		{{ render_modal(hero._id, hero.name, hero.image_full, hero.roles, hero.primary_attr)}}
		{% if hero._id in user_favourites %}
		<a href="#heroModal{{hero._id}}" role="button" data-toggle="modal" id="{{ hero._id }}">
			<img src="{{ hero.image_thumb }}" alt="{{ hero.name }}" class="hero_thumbnail is_favourite" id="{{ hero.id }}">
		</a>
		{% else %}
		<a href="#heroModal{{hero._id}}" role="button" data-toggle="modal" id="{{ hero._id }}">
			<img src="{{ hero.image_thumb }}" alt="{{ hero.name }}" class="hero_thumbnail" id="{{ hero.id }}">
		</a>
		{% endif %}
	</div>
	{% endfor %}
</div>
{% endblock %}
