{% extends 'layout/base.html' %}
{% block content %}
	{% for fav in user_favourites %}
	<div class="row">
		<div class="col-9 col-md-3 offset-md-3 my-auto">
			<img src="{{fav.image_thumb}}" alt=""><span class="pl-3">{{fav.name}}</span>
		</div>
		<div class="col-3 col-md-6">
			<form action="{{url_for('remove_from_favourites', hero_id=fav._id)}}" method="POST">
				<button class="btn-modal btn-favourite-gold" type="submit">
					<i class="fas fa-star"></i>
				</button>
			</form>
		</div>
	</div>
	{% endfor %}
{% endblock %}
