{% extends 'layout/base.html' %}
{% block content %}
<h1 class="page-title border-underline py-3">Favourites</h1>
<div class="container display-box">
	{% if user_favourites|length == 0 %}
	<p class="text-center">You have no favourite heroes! <a class="color-dota-lighten" href="{{url_for('heroes')}}">Add
			one.</a></p>
	{% endif %}
	{% for fav in user_favourites %}
	<div class="mb-3">
		{% include 'components/list-item.html' %}
		{% if loop.index < user_favourites|length %}
		<div class="row mx-2 border-black border-bottom border-1"></div>
		{% endif %}
	</div>
	{% endfor %}
</div>
{% endblock %}
