/* Base styles and resets */
html {
	font-size: 62.5%;
}

body {
	background-color: #f4f4f4;
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
}

button {
	outline: none !important;
	box-shadow: none !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h1 {
	font-family: 'Audiowide', cursive;
}

a:hover {
	text-decoration: none;
}

.btn {
	color: #f4f4f4;
}

/* Utility classes */
.color-dota {
	color: #9E2F19 !important;
}

.color-dota-lighten {
	color: #e12500 !important
}

.border-color-dota {
	border: #9E2F19 1px solid !important;
}

.bg-color-dota {
	background-color: #9E2F19 !important;
}

.color-gold {
	color: #D7920A !important;
}

.bg-color-gold {
	background-color: #D7920A !important;
}

.border-color-gold {
	border: 1px solid #D7920A !important;
}

.hero-favourite__fade {
	opacity: 0.5;
}

.color-white {
	color: #f4f4f4;
}

.bg-color-white {
	background-color: #f4f4f4;
}

.border-color-white {
	border: 1px #f4f4f4 solid !important;
}

.bg-transparent {
	background-color: transparent !important;
}

.box-shadow-none {
	box-shadow: none !important;
}

.icon-small {
	font-size: 2.5rem;
}

.icon-large {
	font-size: 3.5rem;
}

.border-underline:after {
	content: "";
	display: block;
	margin: 0 auto;
	width: 250px;
	border-bottom: 1px solid #9E2F19;
}

.border-black {
	border-color: #000 !important;
}

.display-box {
	border: 1px solid #777;
	border-radius: 5px;
	box-shadow: 0 7px 4px #777;
	background-color: #f4f4f4;
	margin-top: 1rem;
	padding: 1rem 0;
}

/* Components */
.page-title {
	font-size: 3rem;
	text-align: center;
	text-transform: uppercase;
	color: #9E2F19;
}

.card {
	border: 0;
}

.card-body {
	padding: 0.5rem;
}

.button-sm {
	width: 120px;
	height: 30px;
	font-size: 1.6rem;
	line-height: 1.4;
}

.button-lg {
	width: 140px;
	height: 40px;
	line-height: 1.8;
	font-size: 1.8rem;
}

.form-wrapper {
	padding: 0.5rem;
}

.form-title {
	font-size: 3rem;
}

.form-control {
	font-size: 1.4rem;
}

.form-btn-create {
	width: 100px;
	height: 40px;
	border: #9E2F19 1.5px solid;
	font-size: 1.6rem;

}

.form-message-error {
	font-size: 1.4rem;
	color: red;
}

.toast {
	z-index: 1020;
	border: 0;
	border-radius: 0;
	position: fixed;
	top: 12vh;
	right: 1vw;
}

.toast-close {
	font-size: 2.7rem;
	position: absolute;
	right: 1px;
	bottom: -9px;
	background: transparent;
	padding: 0;
	margin: 0;
	border: 0;
}

.toast-body {
	padding: .6rem;
	font-size: 1.6rem;
	min-width: 200px;
}

#loadingOverlay {
	display: none;
	background-color: rgba(50, 50, 50, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1500;
}

#loadingSpinner {
	margin: auto;
}

.lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
}

.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #f4f4f4;
	border-color: #f4f4f4 transparent #f4f4f4 transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);

	}

	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes lds-dual-ring {
	0% {
		-webkit-transform: rotate(0deg);

	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

.unsupported-browser {
	height: 80vh;
	margin: 8vh 0 0;
	padding: 5rem;
	text-align: center;
	display: none;
}

/* Header/Navbar */
.nav-link {
	color: #000;
	font-size: 1.8rem;
	font-weight: bold;
}

.nav-link:hover {
	color: #9E2F19;
}

.nav-item {
	border: none;
}

.navbar-brand {
	border: 0;
}

.navbar-toggler {
	font-size: 3.5rem;
	border: none;
	padding-top: 0.5rem;
}

.navbar .nav-link {
	font-size: 1.8rem;
}

.active {
	text-decoration: underline;
}

/* Footer */
.footer-text {
	font-size: 1.5rem;
}

.footer-text a {
	color: #000;
}

/* Index page */
.index-main-wrapper {
	background: url('/static/images/bg_clockwerk.jfif') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 87vh;
}

.index-content-wrapper {
	margin-top: 50vh;
}

.index-title-text {
	font-size: 3.5rem;
}

.index-title-subtext {
	font-size: 2.2rem;
}

.index-btn {
	font-size: 2rem;
	width: 30vw;
	padding: 0.5rem 0;
}

/* Heroes page */
.heroes-main-wrapper {
	min-height: 87vh;
}

.heroes-content-wrapper {
	margin-top: 10vh;
	margin-bottom: 10vh;
	padding-top: 1rem;
}

.hero-filter__wrapper {
	width: 230px;
}

.hero-filter-icon {
	width: 40px;
	height: 40px;
	opacity: 0.7;
}

.hero-filter-active {
	opacity: 1;
	border-radius: 50%;
}

.hero-filter-title {
	font-family: 'Audiowide', cursive;
	font-size: 2.2rem;
}

.hero-thumbnail {
	padding: 0.3rem;
}

.hero-guide-icon {
	font-size: 5rem;
}

.modal-hero-width {
	max-width: 350px;
}

.modal-hero-width .modal-content {
	border: #9E2F19 5px solid;
	border-radius: 0;
}

.modal-hero-title {
	font-size: 2.5rem;
}

/* Favourites page */
.favourites-main-wrapper {
	min-height: 87vh;
}

.favourites-content-wrapper {
	margin-top: 10vh;
	margin-bottom: 10vh;
	padding: 1rem 0.5rem;
}

.favourites-notes__hidden {
	display: none;
}

/* Account/Profile page */
.account-main-wrapper {
	min-height: 87vh;
}

.account-content-wrapper {
	margin: 10vh 0;
	padding: 11vh 4vw 0;
}

.profile-text-bold {
	font-weight: bold;
}

.profile-biography {
	white-space: pre-line;
}

#avatarModal {
	padding: 0 !important;
}

.btn-avatar {
	border: 0;
	padding: 0.1rem;
}

/* Error pages */
.error-content-wrapper {
	margin-top: 50vh;
	padding: 1rem 5rem;
	text-align: center;
}

/* Media queries */
@media only screen and (min-width: 400px) {
	.footer-text {
		font-size: 1.3rem;
	}

	.index-btn {
		width: 20vw;
	}

	.index-content-wrapper {
		padding: 0 15vw;
	}

	.heroes-content-wrapper {
		padding: 1rem 6vw;
	}

	.favourites-content-wrapper {
		padding: 1rem 8vw;
	}

	.account-content-wrapper {
		padding: 11vh 15vw 0;
	}
}

@media only screen and (min-width: 576px) {
	.display-box {
		padding: 1rem 0.5rem;
	}

	.heroes-content-wrapper {
		padding: 1rem 10vw 0 12vw;
	}

	.favourites-content-wrapper {
		padding: 1rem 19vw;
	}

	.account-content-wrapper {
		padding: 11vh 20vw 0;
	}

}

/* min-height to exclude long phones in landscape eg; pixel 2 */
@media only screen and (min-width: 768px) and (min-height: 420px) {
	.footer-text {
		font-size: 1.6rem;
	}

	.index-btn {
		width: 17vw;
	}

	.index-content-wrapper {
		padding: 0 10vw;
	}

	.index-title-wrapper {
		padding-bottom: 5rem;
	}

	.index-title-text {
		padding-bottom: 2rem;
	}

	.heroes-content-wrapper {
		padding: 1rem 10vw;
	}

	.favourites-content-wrapper {
		padding: 1rem 25vw;
	}

	.account-content-wrapper {
		padding: 11vh 25vw 0;
	}
}

@media only screen and (min-width: 992px) {
	body {
		font-size: 1.8rem;
	}

	.index-title-text {
		font-size: 4rem;
	}

	.index-title-subtext {
		font-size: 2.8rem;
	}

	.index-btn {
		font-size: 2.4rem;
	}

	.heroes-content-wrapper {
		padding: 1rem 9vw;
	}

	.favourites-content-wrapper {
		padding: 1rem 30vw;
	}

	.account-content-wrapper {
		padding: 11vh 30vw 0;
	}
}

@media only screen and (min-width: 1200px) {
	.index-btn {
		width: 14vw;
	}

	.heroes-content-wrapper {
		padding: 1rem 15vw;
	}

	.favourites-content-wrapper {
		padding: 1rem 35vw;
	}

	.account-content-wrapper {
		padding: 11vh 32vw 0;
	}
}
