@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lato:wght@300;400&display=swap');

html {
	height: 100%;
	font-size: 62.5%;
}

body {
	color: #F0EFF4;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.6em;
}

button {
    outline: none !important;
    box-shadow: none !important;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.navbar {
	border: 0;
}

.navbar-brand {
	height: 10vh;
	padding: 1.1rem 0 0 0.4rem;
}

.navbar-toggler {
	font-size: 3.5rem;
	border: none;
	padding-top: 0.5rem;
}

.nav-item {
	font-size: 1.8rem;
	font-weight: 400;
}

.footer-wrapper {
	height: 7vh;
}

.index-main-wrapper {
	background: url('/static/images/bg_clockwerk.jfif') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	height: 100%;
}

.index-content-wrapper {
	margin-top: 50vh;
}

.index-title-text {
	font-family: 'Audiowide', cursive;
	font-size: 3.5rem;
}

.index-title-subtext {
	font-size: 2.2rem;
}

.index-btn {
	font-size: 2rem;
	width: 30vw;
	padding: 0.5rem 0;
	
}

.index-heroes-btn {
	border: #9E2F19 1px solid;
}

.index-account-btn {
	background-color: #9E829C;
	color: #F0EFF4;
}

.heroes-main-wrapper {
	/* background: ; */
}

.heroes-content-wrapper {
	margin-top: 10vh;
	margin-bottom: 10vh;
	padding-top: 1rem;
}

.hero-thumbnail {
	padding: 0.5rem;
}

.is_favourite {
	border: 1px #F0EFF4 solid;
}

.btn-favourite {
	font-size: 3.5rem;
	color: #F0EFF4;
	background-color: transparent;
	border: none;
}

.btn-favourite-gold {
	color: #D7920A;
}

.btn-modal-close {
	font-size: 3.5rem;
	color: #7A8288;
	background-color: transparent;
	border: none;
}

.modal-hero {
	padding: 0.5rem;
}

.card-hero-body {
	padding: 0.5rem;
}

.modal-hero-title {
	font-family: 'Audiowide', cursive;
	font-size: 2.5rem;
	color: #9E2F19;
}

.favourites-main-wrapper {

}

.favourites-content-wrapper {
	margin-top: 10vh;
	margin-bottom: 10vh;
	padding-top: 1rem;
}

.favourites-title-wrapper {
	padding-bottom: 1rem;
}

.favourites-title {
	font-size: 3rem;
	font-family: 'Audiowide', cursive;
	text-align: center;
	text-transform: uppercase;
	color:#9E2F19;
	border-bottom: 1px solid #F0EFF4;
}

.account-main-wrapper {
	margin-top: 20vh;
	margin-bottom: 10vh;
}

.account-content-wrapper {
	
}

.form-title {
	font-family: 'Audiowide', cursive;
	font-size: 2.5rem;
	text-align: center;
}

.form-control {
	font-size: 1.4rem;
}

.form-btn {
	width: 100px;
	height: 40px;
	background: #9E2F19;
	font-size: 1.8rem;
}

.form-btn {
	width: 100px;
	height: 40px;
	background: #9E2F19;
	font-size: 1.8rem;
}

.form-btn-create {
	width: 100px;
	height: 40px;
	border: #9E2F19 1.5px solid;
	font-size: 1.6rem;
}

.form-text-link {
	color: #9E2F19;
}
