@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lato&display=swap');

html {
	height: 100%;
	font-size: 62.5%;
}

body {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 1.6em;
}

button {
    outline: none !important;
    box-shadow: none !important;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.navbar-brand {
	height: 10vh;
	padding: 1.1rem 0 0 0.4rem;
}

.navbar-toggler {
	font-size: 3.5rem;
	border: none;
	padding-top: 0.5rem;
}

.footer-wrapper {
	height: 7vh;
}

.index-main-wrapper {
	background: url('/static/images/bg_clockwerk.jfif') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	height: 100%;
}

.index-content-wrapper {
	margin-top: 50vh;
}

.index-title-text {
	font-family: 'Audiowide', cursive;
	font-size: 3.5rem;
}

.index-title-subtext {
	font-size: 2.2rem;
}

.index-btn {
	font-size: 2rem;
	width: 30vw;
	padding: 0.5rem 0;
	border: #9E2F19 1.5px solid;
}

.heroes-main-wrapper {
	/* background: ; */
}

.heroes-content-wrapper {
	margin-top: 10vh;
	margin-bottom: 10vh;
}

.hero-thumbnail {
	padding: 0.5rem;
}

.is_favourite {
	border: 1px white solid;
}

.btn-modal {
	font-size: 3.5rem;
	background-color: transparent;
	border: none;
}

.btn-favourite-gold {
	color: gold;
}

.modal-hero {
	padding: 0.5rem;
}

.card-hero-body {
	padding: 0.5rem;
}

