<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="{{url_for('index')}}">
			<img src="{{url_for('static', filename='images/logo-40x40.png')}}" alt="">
		</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse flex-row-reverse" id="navbarToggler">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('heroes')}}">Hereos</a>
			</li>
			<li class="nav-item">
                <a class="nav-link" href="{{url_for('user_list')}}">Favourites</a>
            </li>
            </ul>
        </div>
    </nav>
</header>
