<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="{{url_for('index')}}">
			<img src="{{url_for('static', filename='images/clockwerk_logo.png')}}" alt="">
		</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse flex-row-reverse" id="navbarToggler">
            <ul class="navbar-nav text-center text-uppercase">
            <li class="nav-item {% if request.endpoint == 'index' %}active{% endif %}">
                <a class="nav-link" href="{{url_for('index')}}">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if request.endpoint == 'heroes' %}active{% endif %}">
                <a class="nav-link" href="{{url_for('heroes')}}">Hereos</a>
			</li>
			<li class="nav-item {% if request.endpoint == 'user_list' %}active{% endif %}">
                <a class="nav-link" href="{{url_for('user_list')}}">Favourites</a>
			</li>
			{% if session['username'] %}
			<li class="nav-item">
							<a class="nav-link" href="{{url_for('logout')}}">Logout</a>
			</li>
			{% else %}
			<li class="nav-item {% if request.endpoint == 'login' %}active{% endif %}">
							<a class="nav-link" href="{{url_for('login')}}">Login</a>
			</li>
			{% endif %}
            </ul>
        </div>
    </nav>
</header>
