<div class="profile-inner-wrapper p-4">
    <div class="row profile-title">
        <div class="col-6 col-md-4 offset-md-2">
            <h1 class="profile-title-text text-capitalize">{{ user_profile['name'] }}</h1>
        </div>
        <div class="col-6">
            <img class="" src="{{ user_profile['avatar'] }}" alt="Avatar">
        </div>
    </div>
    <hr class="mb-4">
    <div class="row">
        <div class="col-6 col-md-4 offset-md-2">
            <p class="profile-text-bold">Primary role</p>
        </div>
        <div class="col-6">
            <p>{{ user_profile['primary_role']}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-4 offset-md-2">
            <p class="profile-text-bold">Region</p>
        </div>
        <div class="col-6">
            <p>{{ user_profile['region']}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-4 offset-md-2">
            <p class="profile-text-bold">Best rank</p>
        </div>
        <div class="col-6">
            <p>{{ user_profile['best_rank']}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-4 offset-md-2">
            <p class="profile-text-bold">Current rank</p>
        </div>
        <div class="col-6">
            <p>{{ user_profile['current_rank']}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a class="btn btn-primary form-btn-create float-right"
                href="{{ url_for('edit_profile', username=user_profile['name']) }}">Update</a>
        </div>
    </div>
</div>
